<div class="container">
    <h1>Fresher Employment Centre</h1>
    <br>
  
    <p>
      As a part of the Corporate Social Responsibility, ITTech has established
      Freshers' Employment Center, a platform that will ensure a win-win situation
      for freshers and recruiters alike. It will be an organized effort for freshers
      seeking employment and companies seeking recruits. Freshers can enroll with FEC
      and would be provided orientation and kept posted about opportunities at no cost.
      So also, companies can register with FEC to hire fresh talent that has been
      screened by ITTech based on the projected requirements.
    </p>
    <br>
  
    <h3>Desired Qualification</h3>
    <p>BE / BTech / MCA / MCS / MSc / BCA / BSc / BCS / MBA etc.</p>
    <br>
    <h3>Highlights</h3>
    <ul>
      Free Job Assistance with 3200+ clients<br>
      Free Workshops and Sessions by Experts<br>
      Free Job Alerts<br>
      Free Technology updates & many more...<br>
    </ul>
  
    <p>
      Fill in the registration form online given in the link below :
      <a href="FresherEmploymentCenter">FresherEmploymentCenter</a>
    </p>
  
    <p>
      Fresher Candidates who have filled in the registration form online will be
      contacted by email by ITTech within 2 weeks. All students those who get the
      emails will be required to visit ITTech Karve Road Pune office as per the
      schedule given to them in the email to verify the documents and to appear for
      Assessment test (Aptitude & Technical test) to qualify for further Free Job Assistance.
    </p>
  
    <h3>NOTE:</h3>
    <ul>
      All the services under Fresher Employment Centre are voluntary and free of cost.<br>
      Currently, this service is available for Jobs in IT industry only.<br>
      ITTech reserves all the rights to modify, withdraw, make any changes in the same without any prior intimation.<br>
      ITTech do not guarantee any interview opportunities, jobs under this initiative.<br>
      We do not charge any fees for registrations and neither any fees after getting Job.<br>
      Preference for all job openings will be given to candidates who have undergone training programs from ITTech.<br>
      No Phone calls regarding the same will be entertained.<br>
      <p>
        For all queries, please drop a mail to <a href="mailto:enquiry&#64;ITTech.com">enquiry&#64;ITTech.com</a> only.
      </p>
          </ul>
  </div>
  