<div class="testimonial-container">
  <div class="testimonial-card">
    <div class="testimonial-content">
      <p class="testimonial-text">"Hello, my name is Omkar Manjare. Recently, I completed my B.Tech in Computer Engineering from G.H. Raisoni College of Engineering, Pune. After that, I joined IT Tech Pune for a Java Full Stack course. This was a very nice experience. All the team and trainers are very supportive. I especially thank our teaching staff and placement team for giving us proper guidance and opportunities. "</p>
      <p class="testimonial-author">- Omkar Manjare</p>
    </div>
    <div class="testimonial-image">
      <img src="/assets/student3.jpg" alt="Omkar Manjare">
    </div>
  </div>

  <div class="testimonial-card">
    <div class="testimonial-content">
      <p class="testimonial-text">"My experience here at ITTech  was great and memorable. The mentors helped me to enhance my academic and interpersonal skills. I am thankful for training and placement for providing a platform to enhance my skills and an opportunity to showcase them."</p>
      <p class="testimonial-author">- Om Dhamdhere</p>
    </div>
    <div class="testimonial-image">
      <img src="/assets/student2.jpg" alt="Om Dhamdhere">
    </div>
  </div>

  <div class="testimonial-card">
      <div class="testimonial-content">
        <p class="testimonial-text">"My name is Srushti . I joined ITTech at Chinchwad.I have done advance diploma in java technology course(Full Stack) .One of the best thing about this institute is faculty members .Their way of teaching is really excellent. After completing my Course ,all the basic concepts become clear and I got placed in very well known MNC. Thank you."</p>
        <p class="testimonial-author">- Srushti Gholap</p>
      </div>
      <div class="testimonial-image">
        <img src="/assets/student4.jpg" alt="Srushti Gholap">
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-content">
        <p class="testimonial-text">"I Joined this institute to take training for Dot Net. My all over experience is very good. The knowledge given by trainer is very helpful to me and during training they solve all doubt related to topic. Training was excellentwith good interaction. Knowledge sharing is good. The main advantage is that ITTech provides placement drives on daily basis. Thanks for excellent training given by ITTech."</p>
        <p class="testimonial-author">- Tejaswini Rasam  </p>
      </div>
      <div class="testimonial-image">
        <img src="/assets/student1.jpg" alt="Tejaswini Rasam">
      </div>
    </div>
</div> 
