
<body>
  <div class="slider">
    <div class="slide" *ngFor="let image of images; let i = index" [class.active]="i === currentSlide">
      <img [src]="image" alt="Slide {{i + 1}}">
    </div>
  </div>
</body>

<body>
  <div class="container">
      <div class="text">
        <br><br>
        <h5>NDIA’S NO. 1 IT TRAINING SECTOR</h5>
        <pre></pre>
      <p>At ITTech, we believe it is our prime responsibility to find the right job for every ward. We have a dedicated placement team comprising experienced members who provide 100% Job Assistance with 2000+ leading IT companies across India, such as Capgemini, TCS, and Wipro. This service is provided free of cost to all qualified students of ITTech.
        <br><br>
        ITTech is an institute driven by the agenda to equip students with the right mix of a sound understanding of the fundamentals and a good comprehension of the newest in Information Technologies, thereby increasing their Employability Quotient. The IT field is one of the most 'happening' areas with new tools and techniques coming up at a fast pace. Understanding the technological mismatch this creates, ITTech is mandated to update the knowledge and skills of those in the Industry through tailor-made courses.
      </p>
      </div>
  </div>
</body>

<br><br><br>
<body>
  <div>
    <h5>ABOUT ITTECH</h5>
    <br>
    <p>
      ITTech provides services in the area of IT training, Consulting, and Staffing.
      <br><br>
      ITTech is an institute driven by the agenda to equip students with the right mix of a sound understanding of the fundamentals and a good comprehension of the newest in Information Technologies, thereby increasing their Employability Quotient. The IT field is one of the most 'happening' areas with new tools and techniques coming up at a fast pace. Understanding the technological mismatch this creates, ITTech is mandated to update the knowledge and skills of those in the Industry through tailor-made courses.
      <br><br>
      The IT sector can be imagined as a triangle with the students, educational institutions, and corporate bodies occupying its three corners. ITTech has been incorporated with the aim of bringing these three distant points closer through academic partnerships, corporate alliances, and student placement fairs.
      <br><br>
      The hallmarks of our institute are well-designed, validated courses to bridge the technology gap between academic instruction and Industry requirements and competent, well-trained, and informed faculty.
    </p>
    <a href="aboutus" class="button">more about us</a>
  </div>
</body>
<br><br>

<body>
  <div>
    <h5>FEAUTURES OF ITTech</h5>
    <img src="/assets/Home3.png" alt="home" class="home">
  </div>
</body>

<br><br>

<body>
  <div>
    <h5>OUT CLIENTS</h5>
    <img src="/assets/clients2.png" alt="client" class="client">
    <a href="clients" class="button">See more</a>
    <br><br>
  </div>
</body>




<div class="background-container">
    <!-- Your content here -->
  </div>
