<body>
  <div class="navbar navbar-expand-sm bg-white navbar-dark">

      <img src="/assets/logo.png" alt="Logo">

      <div class="nav-links">
        <ul class = "navbar-nav">
          <li class = "nav-item">
            <a routerLink="home" routerLinkActive="active" class="nav-link" >Home</a>
        </li>
        
          <li class = "nav-item">
            <a routerLink="login" routerLinkActive="active" class="nav-link" >LogIn</a>
        </li>

        <li class = "nav-item">
          <a routerLink="services" routerLinkActive="active" class="nav-link" >Services</a>
      </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Placements
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="overview" routerLinkActive="active">Overview</a></li>
              <li><a class="dropdown-item" routerLink="placed-students" routerLinkActive="active">Placed Students</a></li>
              <li><a class="dropdown-item" routerLink="fresh-employment" routerLinkActive="active">Fresher Employment Center</a></li>
              <li><a class="dropdown-item" routerLink="clients" routerLinkActive="active">Our Clients</a></li>
          </ul>
      </li>

        <li class = "nav-item">
          <a routerLink="aboutus" routerLinkActive="active" class="nav-link" >About Us</a>
      </li>

      <li class = "nav-item">
        <a routerLink="Testimonials" routerLinkActive="active" class="nav-link" >Testimonials</a>
    </li>
    <li class = "nav-item">
      <a routerLink="contactus" routerLinkActive="active" class="nav-link" >Contact Us</a>
  </li>
  
            <!-- <li class = "nav-item">
          <a routerLink="students" routerLinkActive="active" class="nav-link" >Student List</a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-student" routerLinkActive="active" class="nav-link" >Add Student</a>
      </li> -->
      
    </ul>
      </div>
  </div>
  
 


<div class = "container">
  <pre></pre>
  <router-outlet></router-outlet>
</div>

<footer class = "footer2">
  <div class="footer-container">
    <div class="footer-section">
      <h4>Branches</h4>
      <p>Pune - Head Office: 9284414679, 8180852410</p>
      <p>Alandi: 9322066497</p>
      <p>Kiwale: 8308966713</p>
    </div>
    <div class="footer-section">
      <h4>Services</h4>
      <ul>
        <li><a href="services">College Training</a></li>
        <li><a href="services">Corporates</a></li>
        <li><a href="services">Consulting</a></li>
        <li><a href="services">Staffing</a></li>
        <li><a href="services">Testing</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Careers</h4>
      <ul>
        <li><a href="overview">Opportunities</a></li>
        <li><a href="#">Trainers</a></li>
        <li><a href="#">Freelancers</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>PLACEMENTS</h4>
      <ul>
        <li><a href="overview">overview</a></li>
        <li><a href=" fresh-employment">FEC</a></li>
        <li><a href="clients">our clients</a></li>
      </ul>
    </div>
  </div>
</footer>

<footer class = "footer1">
  <div class = "container">
      <span>All Rights Reserved 2024 </span>
      <span>Project Created By Omkar,Om,Srushti,Tejaswini </span>
  </div>
</footer>
