<!-- placement.component.html -->
<div class="placement-dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="placementDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Placement
    </button>
    <div class="dropdown-menu" aria-labelledby="placementDropdown">
      <a class="dropdown-item" routerLink="/placement/overview">Overview</a>
      <a class="dropdown-item" routerLink="/placement/placed-students">Placed Students</a>
      <a class="dropdown-item" routerLink="/placement/fresher-employment">Fresher Employment Center</a>
      <a class="dropdown-item" routerLink="/placement/our-clients">Our Clients</a>
    </div>
  </div>
  