<div class="overview-container">
    <h2>Placements at ITTech</h2>

    <p>At ITTech, we believe it is our prime responsibility to find the right job for every ward. We have a dedicated placement team comprising experienced members who provide 100% Job Assistance with 2000+ leading IT companies across India, such as Capgemini, TCS, and Wipro. This service is provided free of cost to all qualified students of ITTech.</p>

    <h3>Desired Qualification:</h3>
    <p>BE / BTech / MCA / MCS / MSc / BCA / BSc / BCS / MBA etc.</p>

    <h3>Highlights:</h3>
    <ul>
        <li>Strong network of 2000+ Recruiting Companies across the Country</li>
        <li>Active hunt for companies looking for candidates through continuous interaction with recruiters and market research.</li>
        <li>Use of persuasive skills to customize recruiter requirements to suit student proficiencies.</li>
        <li>Arrangement of Campus Recruitment, On-site recruitment as needed, and mega Placement Fairs.</li>
        <li>Weekly placement workshops preparing students for aptitude tests, GD, Interviews, etc.</li>
        <li>Grooming of ITTech students through sessions on soft skills, interview techniques, personality development, etc.</li>
    </ul>

    <p>Click <a href="clients">here</a> to see the list of companies looking to recruit "Trained Freshers" from the market.</p>
</div>

<br><br><br>
